* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

:root {
    --main-color: rgb(133, 174, 156);
    --sidebar-color: rgb(220, 220, 220);
    --sidebar-color-dark: rgb(180, 179, 179);
}

a {
    color: white;
    display: inline-block;
    text-decoration: none;
}


.header {
    padding: 20px 20px 20px;
    display: flex;
    background-color: var(--main-color);
    color:white;
}

.footer {
    padding: 20px 20px 20px;
    display: flex;
    justify-content: center;
    background-color: var(--main-color);
    color:white;
}

.footer > a:hover {
    transform: scale(1.1);
    transition-duration: .4s;
}

.body {
    display: flex;
    min-height: calc(100vh - 79px - 59px);
}

/* Title Animation */
h1 {
    animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-name: slidein-left;
    -moz-animation-name: slidein-left;
    -webkit-animation-name: slidein-left;
  }
  
  @keyframes slidein-left {
    from {
      margin-left: 50%;
      width: 100%
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  @-moz-keyframes slidein-left {
    from {
      margin-left: 50%;
      width: 100%
    }
    to {
      margin-left: 0%;
      width: 99%;
    }
  }
  
  @-webkit-keyframes slidein-left {
    from {
      margin-left: 50%;
      width: 99%
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }


/* Projects Tab */
.sidebar,
.projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 330px;
    background-color: var(--sidebar-color);
}

.edit-project-buttons {
    gap: 20px;
}

.sidebar {
    padding-top: 20px;
}

.project,
#add-project {
    display: flex;
    align-items: center;
    font-size: 16px;
    min-height: 50px;
    width: 280px;
    justify-content: space-around;
    border-radius: 5px;
    transition: 0.5s;
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
    opacity: 0.8;
}

.edit-project-buttons {
    display: flex;
    padding-right: 5px;
}

#project-title-input,
.edit-project-title {
    width: 125px;
    background-color: var(--main-color);
    color: white;
    border: white solid 2px;
    border-radius: 5px;
}

.project-title-div,
.project-title {
    padding: 12.5px 0;
    width: 125px;
}

.project-title {
    overflow-wrap: anywhere;
}

/* Editing Project */
.project-title.hidden,
.edit-project.hidden,
.edit-project-title.hidden,
.edit-project-btn.hidden,
.cancel-project-btn.hidden,
.delete-project.hidden {
    display: none;
}

/* Adding Project */
#new-task.hidden,
#add-project.hidden, 
.add-project.hidden {
    display: none;
}


/* Task */

.tasks {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(100vw - 330px);
    gap: 20px;
    background-color: rgb(239, 239, 239);
    padding-top: 20px;
}

.task {
    display: flex;
    width: 96.5%;
    padding: 10px 20px;
    border-radius: 4px;
    justify-content: space-between;
    transition: 0.2s;
    min-height: 50px;
    background-color: var(--main-color);
    color: white; 
}

.details {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
    color: rgb(239, 239, 239);
    background-color: var(--main-color);
    transition: 0.5s;
}

.details:hover,
#new-task:hover,
.add-project:hover {
    color: var(--main-color);
    background-color: rgb(239, 239, 239);
    border: 1px solid var(--main-color);
}

.task:hover {
    transform: scale(1.003);
    transition: 0.2s;
    box-shadow: rgb(208, 208, 208) 0 0 8px 3px;
}

.first-task-elements{
    display: flex;
    align-items: center;
}
.last-task-elements {
    display: flex;
    align-items: center;
    gap: 20px;
}

.title {
    padding-right: 20px;
    overflow-wrap: break-word;
}

.due-date {
    min-width: 75px;
}

/* Task Modal */

#task-details {
    min-width: 400px;
    min-height: 205px;
    gap: 10px;
}

.task-detail1 {
    display: flex;
    gap: 105px;
}

.task-detail2 {
    display: flex;
    gap: 67px;
}

.task-detail3 {
    display: flex;
    gap: 83px;
}

.task-detail4 {
    display: flex;
    gap: 48px;
}

.task-detail5 { 
    display: flex;
    gap: 86px;
}

#task-details-output {
    overflow-wrap: break-word;
    width: 205px;
}

#task-title-output {
    overflow-wrap: break-word;
    width: 205px;
}

.edit,
.delete,
.edit-project,
.delete-project {
    transition: 0.5s;
}

.edit:hover,
.edit-project:hover, 
.edit-project-btn:hover,
.set-new-project-btn:hover {
    color: rgb(1, 157, 1);
    transition: 0.5s;
    transform: scale(1.1);
}

.delete:hover,
.delete-project:hover,
.cancel-project-btn:hover,
.cancel-new-project-btn:hover {
    color: red;
    transition: 0.5s;
    transform: scale(1.1);
}

/* Form */
#task-details,
.form,
.edit-form {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 300ms ease-in-out;
    z-index: 10;
    background-color: var(--main-color);
    border-radius: 10px;
    color: white;
}

#task-details.active,
.edit-form.active,
.form.active {
    transform: translate(-50%, -50%) scale(1);
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 300ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

input,
textarea,
select {
    border: 1px solid white;
    border-radius: 5px;
    background-color: var(--main-color);
    color: white;
}

input::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

input,
select {
    height: 25px;
    padding: 0 2px;
}

input::placeholder, textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }

.form-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

#description,
#edit-description {
    resize: none;
}

.title-div,
.date-status-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.due-date,
.status {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    align-items: center;
    font-size: 18px;
    background-color: var(--main-color);
}

.submit {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 5px;
}

.remove {
    background: none;
	color: inherit;
	border: none;
    cursor: pointer;
    font-size: 24px;
}

#edit-status,
#status {
    height: 15px;
    width: 15px;
}


.edit-task,
.add-task {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
    background-color: var(--main-color);
    opacity: 0.8;
    color: white;
}

#new-task,
.add-project {
    padding: 8px 25px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: var(--main-color);
    opacity: 1;
    color: white;
    transition: 0.5s;
}

.project:hover,
.edit-task:hover,
.add-task:hover {
    opacity: 1;
}

/* Mobile Responsive */

@media (max-width: 800px) {
    .body {
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - 77px - 58px);
        width: 100vw;
    }

    .project {
        width: 96.5%;
        justify-content: space-between;
        padding: 0 20px; 
    }

    #add-project {
        width: 90%;
        justify-content: space-between;
        padding: 0 20px;
    }

    .projects {
        width: 100vw;
    }

    .edit-project-buttons {
        gap: 20px;
    }

    .edit-project-title,
    #project-title-input {
        width: 175px;
    }

    .edit-project-buttons {
        gap: 10px;
    }

    .sidebar,
    .tasks {
        width: 100vw;
        padding-bottom: 20px;
    }
    
    .tasks {
        flex-grow: 1;
    }

    .task {
        height: auto;
    }

    #new-task,
    .add-project {
        padding: 4px 12.5px;
    }

    .details {
        padding: 3px 8px;
    }

    #new-task,
    .add-project,
    .project,
    .form,
    .task,
    .task-details,
    .footer,
    .details,
    .due-date {
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    .last-task-elements {
        gap: 10px;
    }
    
    .project {
        padding: 0 11px 0 20px; 
    }

    #add-project {
        padding-right: 11px;
    }

    .task {
        height: auto;
    }

    .title,
    .first-task-elements {
        width: 75px;
        overflow-wrap: normal;
        padding-right: 0;
    }

    .form,
    .edit-form {
        display: flex;
        flex-direction: column;
        padding: 10px 10px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: 300ms ease-in-out;
        z-index: 10;
        background-color: var(--main-color);
        border-radius: 10px;
        color: white;
        align-items: center;
    }

    .modal-header {
        width: 250px;
    }
    
    .title-div {
        align-items: flex-start;
        gap: 10px;
    }

    .priority {
        display: flex;
        gap: 18px;
    }
    
    .form-title {
        display: flex;
        gap: 38px;
    }

    .form-card {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 10px;
    }

    .title-div,
    .description-div,
    .date-status-div,
    .submit {
        flex-direction: column;
        width: 200px;
    }

    .date-status-div {
        gap: 10px;
    }
    
    #edit-description,
    #description {
        width: 200px;
        height: 100px;
    }

    #edit-title,
    #title {
        width: 100px;
    }

    #task-title-output,
    #task-due-date-output,
    #task-priority-output,
    #task-status-output,
    #task-details-output {
        width: 120px;
        overflow-wrap: normal;
    }

    .task-detail1 {
        gap: 85px;
    }

    .task-detail2 {
        gap: 47px;
    }
    .task-detail3 {
        gap: 63px;
    }

    .task-detail4 {
        gap: 28px;
    }

    .task-detail5 {
        gap: 66px;
    }

    #task-details {
        min-width: 290px;
        width: 290px;
    }
}