* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 28px;
}


/* HEADER */

.header {
    padding: 20px 10px;
    border: solid 2px black;
    border-right: none;
    height: 80px;
}


/* CONTENT */

.main {
    display: flex;
}

.content {
    padding: 20px;
    width: calc(100vw - min(30vw, 300px));
}

.tasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 50px;
}

/* Task UI */

.task {
    display: flex;
    border: 1px solid black;
    padding: 10px 20px;
    height: inherit;
    align-items: center;
    justify-content: space-between;
}

.task-checkbox {
    height: 15px;
    width: 15px;
    border: 1px solid black;
    border-radius: 3px;
}

.first-task-elements {
    display: flex;
    align-items: center;
    gap: 30px;
}

.last-task-elements{
    display: flex;
    align-items: center;
    gap: 30px;
}

.delete-symbol {
    cursor: pointer;
    transition: 0.3s;
}

.delete-symbol:hover {
    color: #e40101;
    transform: scale(1.1);
  }

.edit-symbol {
    cursor: pointer;
    transition: 0.3s;
}

.edit-symbol:hover {
    color: rgb(0, 167, 0);
    transform: scale(1.1);
  }


/* SIDEBAR */

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 50px 10px 0 10px;
    gap: 20px;
    width: min(30vw, 300px);
    min-height: calc(100vh - 80px);
    border: 2px solid black;
    border-top: none;
}

.views,
.projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.views, .projects > li {
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
    font-size: 28px;
}

.project {
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    border-radius: 10px;
}

.project:hover {
    background-color: rgb(232, 232, 232);
}


/* MODAL */

fieldset {
    border: none;
}

#edit-title-priority,
#title-priority {
    display: flex;
    border: none;
    justify-content: space-between;
}


.status {
    display: flex;
    gap: 8px;
}

#status-submit {
    display: flex;
    justify-content: space-between;
}

#details {
    resize: none;
}

input, label {
    display: block;
}

input {
    height: 20px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    /* max-width: 80%; */
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px 0;
    display: flex;
    justify-content: space-between;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 14px;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

#edit-new-task,
#new-task {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1px;
}

#overlay {
    position: fixed;
    transition: 200ms ease-in-out;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}