* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    display: inline-block;
}


/* Task */

.tasks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
}

.task {
    display: flex;
    border: 1px solid black;
    width: 100vw;
    padding: 5px 10px;
    justify-content: space-between;
}

.first-task-elements{
    display: flex;
    align-items: center;
}
.last-task-elements {
    display: flex;
    align-items: center;
    gap: 20px;
}

.edit:hover {
    color: rgb(1, 157, 1);
    transition: 0.5s;
    transform: scale(1.1);
}

.delete:hover {
    color: red;
    transition: 0.5s;
    transform: scale(1.1);
}

/* Form */

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    z-index: 10;
    background-color: white;
}

.form.active {
    transform: translate(-50%, -50%) scale(1);
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

input,
textarea,
select {
    border: 1px solid rgb(102, 100, 100)
}
input {
    height: 20px;
}

.form-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 8px;
}

#description {
    resize: none;
}

.title-div,
.date-status-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.due-date,
.status {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    align-items: center;
}

.submit {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 5px;
}

.remove {
    background: none;
	color: inherit;
	border: none;
    cursor: pointer;
    font-size: 18px;
}

#new-task,
.add-edit-task {
    padding: 5px 10px;
}