* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.content {
    display: inline-block;
    max-width: 100%
}

.header {
    height: 100px;
    padding: 20px 30px 50px;
    display: flex;
    justify-content: space-between;
}

.body {
    display: flex;
    min-height: calc(100vh - 100px);
}

/* Title */


/* Projects Tab */
.sidebar,
.projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 300px;
}

.project,
#add-project {
    display: flex;
    align-items: center;
    font-size: 20px;
    min-height: 50px;
    width: 250px;
    border: 1px solid rgb(102, 100, 100);
    justify-content: space-around;
    border-radius: 10px;
    transition: 0.5s;
}

.edit-project-buttons {
    display: flex;
    padding-right: 5px;
    gap: 15px;
}

#project-title-input,
.edit-project-title {
    width: 125px;
}

.project-title-div {
    width: 125px;
}

/* Editing Project */
.edit-project-title.hidden,
.edit-project-btn.hidden,
.cancel-project-btn.hidden {
    display: none;
}

/* Adding Project */
#add-project.hidden, 
.add-project.hidden {
    display: none;
}

 


/* Task */

.tasks {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(100vw - 300px);
    gap: 20px;
}

.task {
    display: flex;
    border: 1px solid rgb(102, 100, 100);
    width: 90%;
    padding: 10px 20px;
    border-radius: 10px;
    justify-content: space-between;
    transition: 0.2s;
    min-height: 50px;
    background-color: white;
}

.details {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgb(102, 100, 100);
    cursor: pointer;
}

.task:hover {
    transform: scale(1.01);
    transition: 0.2s;
    box-shadow: 5px 5px 5px #bcbcbc;
}

.first-task-elements{
    display: flex;
    align-items: center;
}
.last-task-elements {
    display: flex;
    align-items: center;
    gap: 20px;
}

.title {
    padding-right: 20px;
}

.due-date {
    min-width: 75px
}

/* Task Modal */

#task-details {
    width: 400px;
    gap: 10px;
}

.task-detail1 {
    display: flex;
    gap: 105px;
}

.task-detail2 {
    display: flex;
    gap: 67px;
}

.task-detail3 {
    display: flex;
    gap: 83px;
}

.task-detail4 {
    display: flex;
    gap: 48px;
}

.task-detail5 {
    display: flex;
    gap: 86px;
}

#task-details-output {
    display: inline-block;
}

.edit,
.delete,
.edit-project,
.delete-project {
    transition: 0.5s;
}

.edit:hover,
.edit-project:hover, 
.edit-project-btn:hover,
.set-new-project-btn:hover {
    color: rgb(1, 157, 1);
    transition: 0.5s;
    transform: scale(1.1);
}

.delete:hover,
.delete-project:hover,
.cancel-project-btn:hover,
.cancel-new-project-btn:hover {
    color: red;
    transition: 0.5s;
    transform: scale(1.1);
}

/* Form */
#task-details,
.form,
.edit-form {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 300ms ease-in-out;
    border: 1px solid rgb(102, 100, 100);
    z-index: 10;
    background-color: white;
    border-radius: 10px;
}

#task-details.active,
.edit-form.active,
.form.active {
    transform: translate(-50%, -50%) scale(1);
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 300ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

input,
textarea,
select {
    border: 1px solid rgb(102, 100, 100)
}
input,
select {
    height: 25px;
    padding: 0 2px;
}

.form-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

#description,
#edit-description {
    resize: none;
}

.title-div,
.date-status-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.due-date,
.status {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    align-items: center;
    font-size: 18px
}

.submit {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 5px;
}

.remove {
    background: none;
	color: inherit;
	border: none;
    cursor: pointer;
    font-size: 24px;
}

#edit-status,
#status {
    height: 15px;
    width: 15px;
}


#new-task,
.edit-task,
.add-task,
.add-project {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgb(102, 100, 100);
    cursor: pointer;
}